<div class="col-lg-12 topic-box mt-3" *ngIf="topic">
  <div class="topic-data col-lg-7 float-left">
    <h1>{{topic.title}}</h1>
    <span class="badge badge-warning">
      {{topic.lang}}
    </span>
    <span class="badge badge-primary ml-2">
      {{topic.user.name + " " + topic.user.surname}}
    </span>
    <span class="badge badge-light ml-2">
      {{topic.date | amLocale: "es" | amTimeAgo}}
    </span>
    <p id="topic-content" class="mt-2">
      {{topic.content}}
    </p>
    <p id="topic-code" class="mt-2" *ngIf="topic.code && topic.lang">
      <ngx-highlight-js lang="{{topic.lang}}" code="{{topic.code}}">
      </ngx-highlight-js>
    </p>
  </div>

  <div class="clearfix"></div>

  <div id="comment-box">
    <h3>Comentarios</h3>
    <hr>
    <div class="alert alert-success mt-3" *ngIf="status==='success'">
      El comentario se añadió correctamente
    </div>

    <div class="alert alert-danger mt-3" *ngIf="status==='error'">
      El comentario no se ha añadido
    </div>

    <form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)" *ngIf="identity">
      <div class="form-group">
        <label for="content" class="mt-2 col-lg-9">Pon tu comentario</label>
        <textarea type="text" name="content" #content="ngModel" [(ngModel)]="comment.content" required class="form-control"></textarea>
        <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
          El comentario no es válido
        </small>
      </div>
      <input type="submit" value="Comentar" class="btn btn-success" [disabled]="formComment.invalid"/>
    </form>

    <hr>

    <ul class="list-group list-comments mb-5">
      <li class="list-group-item comment-item" *ngFor="let comment of topic.comments">
        <div class="avatar_mask float-left mr-3" *ngIf="identity">
          <img src="{{url+'avatar/'+comment.user.image}}" alt="Avatar">
        </div>
        <span class="badge badge-primary">
          {{comment.user.name + " " + comment.user.surname}}
        </span>
        <span class="badge badge-light ml-2">
          {{comment.date | amLocale: "es" | amTimeAgo}}
        </span>
        <span class="d-block">
          {{comment.content}}
        </span>
        <button (click)="deleteComment(comment._id)" *ngIf="identity && identity._id==comment.user._id" class="btn btn-sm btn-danger float-right d-block w-100">Borrar</button>
      </li>
    </ul>

  </div>
</div>
